.NavBar
{
    list-style: none;
    background-color: black;
    padding-left:40vw;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
}

.Item
{
    padding:1rem 2rem;
    color:white;
    transition:0.5s;
    cursor:pointer;
}

.Item:hover
{
    color:orangered;
    transform: scale(1.1);
}