.NavBar
{
    list-style: none;
    background-color: black;
    padding-left:40vw;
}

.Item
{
    padding:1rem 2rem;
    background-color:black;
    color:white;
    transition:0.5s;
}

.Item:hover
{
    background-color: white;
    color:black;
}