@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Castoro+Titling&family=Oswald&family=Teko&display=swap');


.Search-Cont
{
    width: 100%;
    background-color: cyan;
    padding:0.2rem;
}

.Search-Cont input
{
    width:60%;
    height: 4rem;
    font-size:1.5rem;
    padding:0 1rem;
}

.App .Button
{
    padding:0.4rem 0.8rem;
    border-radius:10px;
    font-family: 'Oswald', sans-serif;
    
}

.Search-btn-Cont
{
    width: 100%;
}

.App .Search-btn-Cont
{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
    align-content: flex-end;
    
}